<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app1">
    <p>첫 번째 입력 : {{ message1 }}</p>
    <input id="inputName" type="text" v-model="message">
    <p>두 번째 입력 : {{ message2 }}</p>
    <input id="inputName" type="text" v-model="message">
    <p id="name">합산 입력 : {{message1 + message2}} </p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    // CODE HERE
    const app1 = new Vue({
      el: '#app1',
      data: {
        message1: '',
        message2: '',
      }
    })
    
  </script>
</body>
</html>
